.nav-link:not(:hover) {                                     /* hover effect */
    transition: 700ms;
}  
  .bg-dark{
      background-color: #272530;
  }

  .navbar-brand:hover{
    color: #03d1c7 !important; 
    transition: 250ms;
    ;
  }
  .nav-link:hover{
    color: #03d1c7 !important;  
}  

  
  .navbar-dark .navbar-brand:not(:hover) {
    transition: 700ms;
   }  
.nav-link.active {
    
    background-color: rgba(177, 177, 177, 0.041)!important;
    transition: 250ms;
   }  

.nav-link.active:hover {
    color: #03d1c7 !important;  
    background-color: rgba(177, 177, 177, 0.041);
    transition: 250ms;
   }  
   
   .navbar{
     padding: 0;
   }

  
   .navbar-dark .navbar-nav .active > .nav-link {
    color: #03d1c7 !important;    
    background-color: rgba(177, 177, 177, 0.041);

  }

 
   @font-face {
    font-family: Titillium Web; /* Font name */
    src: url(fonts/TitilliumWeb-SemiBold.ttf); /* Location */
    }
   body {
    font-family: 'Titillium Web', Times, serif, sans-serif;
  }
  a.navbar-brand{
    color: #03d1c7 !important;
    font-size: 1.8em;
    padding-bottom: 20px !important;
    padding-top: 20px !important;
 
  }

  .navbar-dark  .navbar-brand {
    color: #89909B;
    padding: 30px 10px 24px 10px
}



.nav-link2 a{
  padding: 0.5em  !important;
  width: 200px;
  z-index: 999999999;

}

.card-title{
  text-decoration: none;
  color: black;
}


.card-text{
  text-decoration: none;
  color: black;
}

a{
  text-decoration: none !important;
}

.newcont{
    padding: 0;
}

.card:hover{
opacity: 0.95;
transition: 400ms;
}

.card:not(:hover){
    transition: 700ms;
}
.card{
  margin-top: 10px;
  border: none;
  border-radius: none;
}




.body{
  margin: 10px;
}

.main {
  margin: 30px !important;
}


.maincardtitle{
  margin: 15px 20px 10px 20px;
}



.item_content{
  padding: 10px 5px 10px 5px !important;
}




.navbar-toggler{
    border-radius: 0;
    border: none;

}

body {

  background: #f2f1f1;
  }


/* --------------------
 Feature carousel Section
 -------------------*/
.feature_news_carousel{
  background: #fff;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 100%;

}

/*Carousal Control*/
.control-wrapper{
  position:absolute;
  top:0;
  right:0;
  width:65px;
}
.carousel-control{
  padding: 10px 10px 10px 10px; 
  top:40% !important;
  width:30px !important;
  height:30px !important;
  line-height:30px;
  font-size:12px !important;
  text-shadow:none;
  color: white;
  padding-bottom: 7px;
}
.carousel-control:hover{
    color: #04a49c;
    transition: 250ms;
    
}
.carousel-control:not(:hover){
    transition: 350ms;
}
.carousel-control.left,
.carousel-control.right{
  background-image: none;
}
.feature_news_carousel .carousel-control{
  opacity: 1;
}



.category_layout{
    padding-top: 30px;
    background: #fff;
    margin-bottom: 30px;
}
.category_layout .item_caregory{
    text-align: left !important;
    padding: 10px 15px;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    display: inline-block;
    font-weight: 700;
    margin-left:30px;
}
.category_layout .item_caregory h2{
    margin:0;
    font-size:18px;
}
.red{
   background: #f72300;
}
.blue{
   background: #3a98c9;
}
.teal{
    background: #0ed6ca;
}
.item_caregory a{
    color: #fff;
}
.red:hover{
    background: rgba(247, 35, 0, 0.7);
}
.blue:hover{
    background:rgba(58, 152, 201, 0.84);
}
.teal:hover{
    background: rgba(14, 214, 202, 0.84);
}
.feature_news_item{
    background: #fff;
    text-align: center;
}
.item_wrapper{
    position: relative;
}
.item_title_date{
    background: #fff;
    position: absolute;
    bottom: 0;
    left: 10%;
    right: 10%;
    padding:25px 30px 0;
}
.news_item_title h2{
    font-size: 18px;
    margin: 0 0 10px;
}
.item_meta{
    font-size: 11px;
    color: #767676;
    margin-bottom:3px;
}
.item_meta a{
    color:#767676;
}
.item_meta a:hover{
    color:#f72300;
}
.item_content{
    padding:10px 15% 30px;
}
@media (max-width: 1024px) {
    .category_layout .media h3.media-heading{
        font-size:11px;
    }
    .category_layout p{
        font-size:12px;
        line-height:18px;
    }

}
@media (max-width: 980px) {
     .category_layout .media h3.media-heading{
            font-size:15px;
     }
     .category_layout p{
            font-size:14px;
            line-height:21px;
     }
    .feature_news_static .item_title_date{
        left:30%;
        right:30%;
    }
    .feature_news_static .item_content{
        padding-left:30%;
        padding-right:30%;
    }
    .item_img img{
        margin:0 auto;
        border-bottom:1px solid #fff;
    }
    .more_news_item .item_title_date{
        left:30%;
        right:30%;
    }
    .more_news_item .item_content{
        padding-left:30%;
        padding-right:30%;
    }
}
@media (max-width: 599px) {
    .feature_news_static .item_title_date{
        left:10%;
        right:10%;
    }
    .feature_news_static .item_content{
        padding-left:15%;
        padding-right:15%;
    }
    .more_news_item .item_title_date{
        left:10%;
        right:10%;
    }
    .more_news_item .item_content{
         padding-left:15%;
         padding-right:15%;
    }

}

.row{
    margin-top: 10px;
}

.feature_news_carousel{
    margin-top: 10px;
}


.title{
    text-align: left;
    font-size: 1.4em;
    margin-top:10px;
}

.extra-margins{
    margin-bottom: 10px !important;
}




.pt-4{
    padding-top: 0 !important;
}


.page-link{
    color:#04a49c !important;
    border:1px solid rgba(0, 0, 0, 0.082);
    border-radius: 0px !important;
}
.page-item.active .page-link{
    background-color: rgba(29, 29, 29, 0.041) !important;
    border:1px solid rgba(0, 0, 0, 0.082);
    border-radius: 0px !important;
}




.newextra{
    margin-top: 5px !important;
}

.newmargin{
    margin-top: 7px !important;
}

.secondtitle{
    margin-top: 20px;
}


h3{
    text-align: right;
 
}
.slidedescription{
    text-align: right;
}


.firstslide{
    color: #a3a3a3;
}
.rightslide{
    margin-left: 100px;
}
.leftslide{
    margin-right: 100px;
}

    


.backside{
    background-color: #202020;
    padding-bottom: 20px;
}
.latest{
    margin: 0 ;
    padding: 5px 0 0 0;
    color: #f2f2f2;
    font-size: 1.4em;
}
.latestmargin{
    border-color: #fafafa;
    margin: 5px 0 5px 0 !important;
}







.center {
    text-align: center;
    margin: 10px;
}

.pagination {
    display: inline-block;
    margin-top: 12px;
}

.pagination a {
    color: #767676;
    float: left;
    padding: 5px 12px;
    border: 1px solid #ddd;
}

.pagination a.active {
    background-color: #ddd;
    color: #272530;
    border: 1px solid #ddd;
}

.pagination a:hover:not(.active) {background-color: #ddd;}



.control-wrapper{
  background-color:  rgba(0, 0, 0, 0.5) !important;
}





.owl-carousel {
    position: relative;
    }
    .owl-prev,
    .owl-next {
    background-color: rgba(0, 0, 0, 0.5) !important;
    color:#fafafa;
    padding: 10px;
    position: absolute;
    margin-top: 5px;
    top: 1.5%;
    }
    .owl-prev {
    left: 0;
    }
    .owl-next {
    right: 0;
    }
    .owl-next:hover{
        color: #03d1c7;
        transition: 250ms
    }
    .owl-prev:hover{
        color: #03d1c7;
        transition: 250ms
    }

.feedcard{
    background-color: #fafafa;
}

.col-md-6{
    padding: 10px;
}

.tren{
    text-align: right;
    font-size: 0.7em;
    float: right;
    margin: 7px 0 0 0;
    text-decoration: none;
}
a{
    color: #272530;
}

a:hover{
    color: #555555;
}

.item:hover{
    opacity: 0.95;
}


.right-text{
    background-color: white;
}

.right-text:hover{
    opacity: 0.95;
}


.feedrow{
    margin: 0 0 5px 0;
    background-color: white
}



.col-md-4{
    padding: 0 !important;
}





.fedd{
    padding: 0 5px 0 0;
}







/* FOOTER*/





.footer {
    padding: 1.250em 0em 1.250em 0em;
    background-color: #272530;
    text-transform: uppercase;
    text-align: center;
    word-spacing: 3em;
    padding-right: 1.5em;
    font-size:1em;
    line-height: 1.5em;
    right: 0;
    left: 0;
    bottom: 0 !important;
    width: 100%;
    text-align: center;













}

.footer a {
    text-decoration: none;
    color: #888;
    
  

}


.footer a:hover{
    color: #03d1c7 ;
    transition: 250ms;
}


.social{
    
    padding: 1em 2em 1.250em 2.5em;
    text-transform: uppercase;
    text-align: left;
    word-spacing: 0.5em;
    font-size:1.8em;
   
    }

.social a {
    text-decoration: none;
    color: #666;

}

.social a:hover{
    color: #03d1c7 ;
    transition: 250ms;                       /* Social media icon */
    
}


.footer a:not(:hover) {
    transition: 500ms;
}


.email a{

    padding: 1.6em 3.7em 1.250em 0;
    text-transform: uppercase;
    float: right;                                                                                    /*Email*/
    word-spacing: 0.5em;
    font-size:1em;
    display: block;
    }
    .contact-form{ margin-top:15px;}
    .contact-form .textarea{ min-height:220px; resize:none;}
    .form-control{ box-shadow:none; border-color:#eee; height:49px;}
    .form-control:focus{ box-shadow:none; border-color:#00b09c;}
    .form-control-feedback{ line-height:50px;}
    .main-btn{ background:#00b09c; border-color:#00b09c; color:#fff;}
    .main-btn:hover{ background:#00a491;color:#fff;}
    .form-control-feedback {
    line-height: 50px;
    top: 0px;
    }


    .feedtext{
        max-width: 100%;
    }



    a.hash{
        background-color: #272530;
        font-size: 12pt;
        color: #89909B;
        padding: 4px 7px 4px 7px;
    }

    a.hash:hover{
        color: #03d1c7;
        transition: 250ms;
    }

    a.hash:not(:hover){
        transition: 250ms;
    }

    .owl-item{
        border-radius: none !important;
    }


    .rightlist{
        top: 60px;
    }

    .cardhead{
        background-color: #202020;
        border-radius: none;
    }

    h5.cardhead.card-header{
        color: #03d1c7  ;

    }

    @media screen and (max-width: 1023px) {
        a.hash{font-size:80%; padding: 2px;}}
                                                                        /* Responsivness */
        @media screen and (max-width: 800px) {
            a.hash{font-size:70%; padding: 2px;}}

        @media screen and (max-width: 650px) {
            a.hash{font-size:60%; padding: 2px;}}

        @media screen and (max-width: 500px) {
            a.hash{font-size:40%; padding: 2px;}}

            @media screen and (max-width: 1023px) {
				.footer{font-size:70%;}}

      	                        @media screen and (max-width: 800px) {                                   /* Responsivness */
				.footer{font-size:50%;}}

        	                @media screen and (max-width: 600px) {
				.footer{font-size:40%;}}

        	                @media screen and (max-width: 500px) {
				.footer{font-size:25%;}}


.list-unstyled{
    font-size: 0.8em;
}



.card-body:hover{
    background-color: #eee;
    transition: 250ms;
}

.card-body:not(:hover){
    transition: 300ms;
}

.feedrow:hover{
    background-color: #eee;
    transition: 250ms;
}

img#logo-navbar-middle{
    width: 200px;
    padding: 0;
    text-decoration: none;
}

a.nav-link{
    text-decoration: none

}

li.nav-item{
    text-decoration:none;
}




.awardtext{
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 1em 0px;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 0.1em solid #888;
    text-transform: uppercase;
 
}
td{
    width: 200px;
}
tr:hover{background-color:#d3d3d3;                           /* change color while hovered */
transition: 0.1s;       
}
tr:not(:hover) {                                     /* Smooth release of color after hovering the mouse */
                transition:0.2s
}

th {
    font-size: 1.2em;
    background-color: #272530;
    color: #03d1c7;
     margin: 0px 0px 10em 0px;
}


.feedimage{
    margin: 30px 0 30px 0;
    border-radius: none !important;
}

h2{
    margin-top: 65px;
}

.jumbotron {
    background-color: transparent !important;
    padding: 100px 100px 0 100px ;
    border: none;   
}

.about{
    padding-left: 25px !important;
}

.btn-primary{
    background-color: #343241; 
    color: rgb(174, 183, 197);    
    transition: 400ms ease !important;
    border: none;
    padding: 30px;
    margin-top: 0;
}

.btn-primary:hover{
    background-color: #03d1c7;
    color: #272530;
    cursor: pointer;
    transition: 400ms ease
    }
label.required{
    color: rgb(174, 183, 197);
    text-align: center;
}
.text-center{
    font-size: 1.2em;
}

.jumbotron{
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}
input{
    background-color: #34323f;
    border: none;
    color: white;
    padding-left: 10px;
}










.gallery { text-align: center; }
.gallery .thumb, .gallery .thumb-img {
  display: inline-block;
  width: 8em;
  height: 5.6em;
  margin-top: 3px;
}
.lightbox {
  z-index: 999; /* some ridiculously large value to make sure it's on top */
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  background: rgba(0,0,0,.5);
  cursor: pointer;
  text-align: center;
}
.lightbox:before {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  content: '';
}
.hidden { display: none; }
.large {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}








#photoShowContainer{
    margin: 10px 0 10px 0;
    position: relative;
    width: 800px;
  }
  
  #photoShowWrap{
    height: 600px;
    overflow: hidden;
     position: relative;
    width: 100%;
    z-index: 1;
  }
  
  #photoShow{
    height: 600px;
    position: relative;
    width: 4000px;
  }
  
  #photoShow img{
    float: left;
    height: 600px;
    width: 800px;
  }






  
  .warning {
    background-color: orange;
    color: #fff;
    padding: 2em;
  }
  
  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }
  
  .commentbox-app {
    color: #4a4a4a;
    font-size: 30px;
    border: none;
  }
.container {
    max-width: 1120px;
  }
 .comment-input {
    border: none;
    border-left: 3px solid transparent;
    background-color: #EEE;
    width: 456px;
    transition: .65s ease;
  }
   .comment-input:focus {
    border-color: none;
    background-color: #d3d3d3;
    border: none;
  }
 .comment-btn {
    background-color: #272530;
    font-size: 20px;
    text-decoration: none;
    color: #fafafa;
    border: none;
    padding: 7px 20px 7px 20px;;
    transition: 0.45s ease;
  }

.comment-btn:hover {
    background-color: #03d1c7;
    color: #272530;
    cursor: pointer
  }
.remove-all-btn {
    color: #272530;
    background-color: #f2f2f2;
    padding: .3em .6em;
    font-size: 40%;
    cursor: pointer;
    border: none;
    transition: 450ms ease;
  }
  
.remove-all-btn:hover {
    background-color: #eb371f;
color: #fff;
transition: 400ms ease;      


}
    
  .commentbox-app .comment-stream {
    list-style: none;
    padding: 0;
    margin-top: 65px;
  }
  .commentbox-app .comment-stream li {
    font-size: 20px;
    padding-left: 10px;
    border-left: 3px solid #272530;
    margin-bottom: 25px;
  }
  .commentbox-app .comment-stream li:hover .comment-remove {
    display: inline-block;
  }
  


  .jtext{
      color: rgb(174, 183, 197); 
      margin: 3em 4em 0 4em;
      line-height: 2em;
      text-align: center;
      font-size: 1.4em;
  }
  .ambition{
    line-height: 2em;
    color: rgb(174, 183, 197); 
    text-align: center;
    font-size: 1.4em;
  }

  .required {
      margin: 10px 0 5px 0;
  }

  .valid {
      margin: auto;
  }

  textarea{

    background-color: #34323f;
    border: none;
    color: white;
    padding-left: 10px;
}

span.error{
    margin: 0 0 5px 0Ð¶;
    color: #d35d3a
}


@media screen and (max-width: 1023px) {
    .jtext{font-size:80%; margin: 20px 10px 10px 10px;}}
    @media screen and (max-width: 1023px) {
        .ambition{font-size:80%; padding: 2px;}}

        @media screen and (max-width: 1023px) {
            .valid{font-size:80%; padding: 2px;}}
            
    @media screen and (max-width: 1023px) {
        textarea{width:70%; padding: 2px;}}
        @media screen and (max-width: 1023px) {
            input.btn-block{width:100px !important; margin:auto; padding: 2px;}}